* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F8F8F8;
    color: #29292e;
    min-width: 780px;
    min-height: 600px;
}
body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}