.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        margin: 64px 0 48px ;
    };
    span {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 64px;
        color: #835afd;
    };
    p {
        color: #e559f9;
        font-weight: 700;
        font-size: 26px
    }
}